nav {
  width: 100%;
  height: 80px;
  background-color: $color-purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;

  .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: $color-purple;
    color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    transition: height 0.5s;

    a {
      height: 40px;
      display: block;
      padding: 8px 0;
    }

    > ul {
      padding: 10px 20px;
      border-top: 1px solid #fff;
    }
  }

  .hasSubMenu {
    position: relative;

    a {
      width: calc(100% - 30px);
    }

    i {
      width: 30px;
      height: 30px;
      display: grid;
      place-items: center;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      z-index: 1;
    }

    + ul {
      height: 0;
      padding-left: 15px;
      overflow: hidden;
      transition: height 0.5s;
    }
  }

  .toggle-button {
    position: relative;
    width: 28px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    span,
    &::before,
    &::after {
      display: block;
      width: 28px;
      height: 2px;
      background-color: #fff;
      position: absolute;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s;
    }

    &::before {
      content: '';
      top: 0;
      transition: top 0.3s 0.3s, transform 0.3s;
    }

    &::after {
      content: '';
      bottom: 0;
      transition: bottom 0.3s 0.3s, transform 0.3s;
    }

    &.active span {
      transform: translateY(-50%) rotate(45deg);
      transition: transform 0.3s 0.3s;
    }

    &.active::before {
      top: 9px;
      transform: rotate(45deg);
      transition: top 0.3s, transform 0.3s 0.3s;
    }

    &.active::after {
      bottom: 9px;
      transform: rotate(-45deg);
      transition: bottom 0.3s, transform 0.3s 0.3s;
    }
  }
}
