@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #999;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'VT323', monospace;
}

.container {
  width: 400px;
}

.countdown {
  height: 20px;
  background-color: #000;
  border: 8px solid #000;
  position: relative;
}

.countdown span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(235, 3, 24);
  transition: 0.1s;
}

.box {
  height: 700px;
  background-color: #000;
  position: relative;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.planeArea {
  height: 320px;
  cursor: url('./images/plane2.png') 50 50, auto;
  z-index: 2;
}

.boundary {
  border-top: 5px solid rgb(235, 3, 24);
}

.highScore {
  text-align: center;
  font-size: 12rem;
  color: rgba(251, 255, 5, 0.5);
  /* color: #ff0; */
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
}

.highScore p {
  font-size: 3rem;
}

#score {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 24rem;
  z-index: 0;
  user-select: none;
}

#startBtn {
  padding: 0.25rem 0.5rem;
  outline: none;
  border: 8px solid #666;
  background-color: rgb(235, 3, 24);
  font-size: 2rem;
  border-radius: 10px;
  cursor: url('./images/plane2.png') 50 50, auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

#startBtn:active {
  background-color: rgb(167, 2, 16);
}

.block {
  width: 50px;
  height: 50px;
  background: url('./images/block.png') no-repeat center / cover;
  transform: rotate(180deg);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 200px;
  z-index: 20;
}

.bullet {
  width: 30px;
  height: 48px;
  background: url('./images/bullet.png');
  position: absolute;
  z-index: 10;
}
