* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 100vh;
  font-family: '微軟正黑體';
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* width: 260px; */
  background-color: #000;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 30px;
}

.top {
  display: flex;
}

.posbar {
  display: none;
}

.posbar #pos1,
.posbar #pos2 {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.controller2 {
  margin-left: 2rem;
  display: none;
}

.top .bar {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.top input[type='range'] {
  margin: 0 0.5rem;
}

.top button,
.degbar button {
  padding: 0.25rem 0.5rem;
  outline: none;
  border: none;
  background-color: rgb(0, 153, 255);
  border-radius: 300px;
  cursor: pointer;
}

.top button:hover {
  background-color: rgb(0, 121, 202);
}

.top p {
  display: flex;
  align-items: center;
}

.degbar {
  margin: 0.5rem 0;
  display: none;
}

.degbar input[type='range'] {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

/* 模式轉換 */
.mode {
  text-align: center;
  margin: 0.5rem 0;
}

.mode label {
  margin: 0 0.5rem;
}

/* 純色當前顏色 */
.currentColor {
  text-align: center;
  margin: 0.5rem 0;
}

.currentColor #pureColorCode {
  width: 120px;
  outline: none;
  padding: 0 0.5rem;
  text-align: center;
  margin-left: 1rem;
}

/* 漸層選單 */
.gradient-option {
  text-align: center;
  display: none;
}

.gradient-option #colorCode1,
.gradient-option #colorCode2,
.gradient-option #gradientDeg {
  width: 120px;
  outline: none;
  padding: 0 0.5rem;
  text-align: center;
  margin-left: 1rem;
}
