.accordion {
  margin-bottom: 1rem;
}

.accordion_shadowBox {
  position: relative;

  &::before,
  &::after {
    content: '';
    width: 50%;
    height: 20%;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 15px;
    left: 10px;
    transform: rotate(-3deg);
  }

  &::after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
  }
}

.accordion_header {
  display: flex;
  height: 55px;
  background-color: #fff;
  color: $color-primary;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}

.accordion_icon,
.accordion_arrow {
  width: 55px;
  height: 55px;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}

.accordion_icon {
  border-right: 1px solid $color-primary;
}

.accordion_arrow {
  border-left: 1px solid $color-primary;
}

.accordion_txt {
  width: 100%;
  padding: 0 1rem;
  display: grid;
  place-items: center left;
  color: $color-primary;
}

.accordion_content {
  overflow: hidden;
  background-color: #fff;
  color: $color-p;
  position: relative;
  z-index: 2;
  transition: height 0.5s;

  p {
    padding: 10px 20px;
  }
}
