// title card
.titleCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.titleCard_subTitle {
  padding: 2px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  line-height: 25px;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: $color-primary;
  color: #fff;
}

.titleCard_mainTitle {
  margin-bottom: 5px;
}

// card type 1
.cardType1 {
  padding: 40px 25px;
  margin: 15px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover .cardType1_title {
    transition: 0.5s;
    color: $color-primary;
  }

  &:hover .cardType1_hoverNum {
    transition: 0.5s;
    opacity: 0.1;
  }
}

.cardType1_hoverNum {
  position: absolute;
  color: #6b6f92;
  font-size: 100px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.cardType1_img {
  overflow: hidden;
  img {
    border: 1px dashed $color-primary;
    padding: 5px;
    border-radius: 30% 70% 59% 41%/30% 38% 62% 70%;
  }
}

.cardType1_title {
  padding: 15px 0 10px;
}

// card type 2
.cardType2 {
  padding: 30px 15px;
  margin: 15px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.cardTpye2_txt {
  h2 {
    color: $color-primary;
  }
}

.cardType2_img {
  width: 150px;
  padding: 0 20px;

  img {
    padding: 5px;
    border-radius: 50%;
    border: 1px dashed $color-p;
  }
}

// card type 3
.cardType3 {
  padding: 22px;
  border: 2px solid #eee;
  transition: border-top 0.3s;

  &:hover {
    border-top: 2px solid #3398db;
  }

  h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 20px;
  }
}

.cardType3_info {
  display: flex;
  flex-wrap: wrap;
  color: #6b6f92;
  font-size: 12px;
  margin: 10px 0;

  li {
    padding: 0 10px;
    margin: 5px 0;
    font-size: 11px;

    &:first-child {
      padding-left: 0;
    }

    & + li {
      border-left: 1px solid $color-primary;
    }
  }

  i {
    font-size: 16px;
    margin-right: 8px;
  }

  a {
    color: #6b6f92;
  }
}

// sell Class Card
.sellClassCard {
  border: 6px solid $color-primary;

  &:hover img {
    filter: opacity(1);
    transform: scale(1.2);
  }
}

.sellClassCard_img {
  overflow: hidden;

  img {
    filter: opacity(0.75);
    transform: scale(1);
    transition: 0.3s;
  }
}

.sellClassCard_content {
  padding: 20px 20px 20px 30px;
  background-color: #fff;
  position: relative;

  h2 {
    margin: 25px 0 10px;

    a {
      color: $color-secondary;
      transition: 0.3s;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.sellClassCard_price {
  position: absolute;
  top: 0;
  left: 30px;
  transform: translateY(-50%);

  p {
    line-height: 28px;
    padding: 0 10px;

    &:first-child {
      background-color: $color-thirdary;
      color: $color-primary;
      font-weight: bold;
    }

    &:last-child {
      background-color: $color-primary;
      color: #fff;
    }
  }
}

.sellClassCard_footer {
  padding: 10px 0;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
}

.sellClassCard_info {
  padding: 10px 20px;
  margin-right: 8px;
  background-color: $color-thirdary;
  border-radius: 5px;

  a {
    font-size: 14px;
    color: $color-primary;
    transition: color 0.3s;

    &:hover {
      color: #fff;
    }
  }

  p {
    margin-top: 8px;
    line-height: 14px;
    color: #333;
  }
}

// client Card
.clientCard {
  padding: 30px;
  background-color: #f3f3f3;
  display: flex;
  align-items: flex-start;

  h2 {
    margin-top: 5px;
    margin-bottom: 8px;

    span {
      font-size: 13px;
      color: $color-primary;
    }
  }
}

.clientCard_img {
  width: 90px;
  height: 90px;
  margin-right: 30px;
  flex-shrink: 0;

  img {
    width: 100%;
    border-radius: 50%;
  }
}

// person card
.personCard {
  padding: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.personCard_img {
  margin-bottom: 20px;
  position: relative;

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.personCard_content {
  text-align: center;
  margin-bottom: 15px;
}

.personCard_media {
  display: flex;
  justify-content: center;

  a {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #efefef;
    color: #727cb6;
    display: grid;
    place-items: center;
    transition: 0.3s;

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }
  }
}
